.input {
    font-size: 18px;
    height: 30px;
    width: 100%; /* Change to 100% for responsiveness */
    margin-bottom: 20px;
    box-sizing: border-box; /* Include padding and border in the width */
    padding-left: 10px;
  }

  
  
  .main {
    text-align: center;
  }
  
  .file-upload-main {
    
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Wrap items to the next line if needed for responsiveness */
  }
  
  .file-upload {
    cursor: pointer;
    height: auto;
    width: 200px;
    /* border: 1px solid #eee; */
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .file-upload input {
    background-color: white;
    cursor: pointer;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .file-upload label {
    cursor: pointer;
    margin-top: 12px;
    flex-grow: 1;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .file-upload span.file-name {
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Style for when hovering over the file input area */
  .file-upload:hover {
    border-color: #1890ff;
  }
  